.root{
    position:absolute;
    right: 20px;
}
.search {
    font-size: 1.5rem;
    padding:10px;
    outline: none;
}

@media only screen and (max-width: 600px) {
    .root {
        position: relative;
        right: 0;
        top: 2vh;
    }

    .search {
        box-sizing: border-box;
        width: 100%;
    }
}